.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: 0.3s;
}

.image-container:hover img {
    opacity: 0.7;
}