.header {
    background-color: #FFA500; /* Medium Orange background color */
    border-radius: 10px; /* Slightly rounded corners */
    padding: 20px;
}

.header h1 {
    font-family: "Calibri";
    font-weight: bold;
    color: black;
    text-align: center;
}